<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<% }) %>
    </ul>
<% } %>

<form
  action="/account/register"
  method="post"
  id="register-form"
  class="account-form"
>
  <label
    >First name<span class="required-field">*</span>
    <input type="text" id="account_firstname" name="account_firstname" required
  /></label>
  <label
    >Last name<span class="required-field">*</span>
    <input type="text" id="account_lastname" name="account_lastname" required
  /></label>
  <label
    >Email<span class="required-field">*</span>
    <input type="email" id="account_email" name="account_email" required
  /></label>
  <label
    >Password<span class="required-field">*</span>
    <input
      type="password"
      id="account_password"
      name="account_password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    />
    Password must be 12 characters long, contain 1 upper-case, 1 special
    character, and 1 number.
  </label>
  <input type="submit" value="Register" />
</form>
