<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if(locals.loggedin === 1) {%>
            <script src="../../js/log-out.js"></script>
            <a title="Click to go to account dashboard" href="/account/">Welcome <%- locals.account_data.account_firstname %>!</a>
            <a title="Click to log out" href="#" onclick="logout(event)">Logout</a>
        <% } else {%>
            <a title="Click to log in" href="/account/login">My Account</a>
        <% } %>

    </div>
</header>