:root {
  --light-blue: #78C0E0;
  --blue: #449DD1;
  --dark-blue: #150578;
  --white: #fff;
  --black: #000;
}

html{
  font-size: 16px;
}

body {
  font-family: "Roboto", system-ui;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
}

#wrapper {
  max-width: 960px;
  background-color: var(--white);
  color: var(--black);
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

#top-header a,#top-header a:hover,#top-header a:visited {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}

main {
  margin: 0rem .5rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.siteName{
  font-size: 2.5rem;
}

nav ul {
  background-color: var(--black);
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem;
  color: var(--white);
}

nav a:hover {
  color: var(--light-blue);
  background-color: var(--black);
}

nav a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
}

.jumbotron {
  position: relative;
}

.jumbotron-content {
  position: absolute;
  background-color: rgba(21,5,120,85%);
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--white);
}

.jumbotron-content button {
  background-color: var(--light-blue);
  color: var(--black);
  padding: .75rem;
  /* border-radius: 10px; */
  border: 0;
}

.jumbotron-title {
  font-size: 1.5rem;
}

.jumbotron ul {
  list-style: none;
  padding-inline-start: 0;
}

.jumbotron img {
  width: 100%;
}

.main-grid {
  display: grid;
}

.grid {
  display: grid;
}

.grid.main {
  grid-template-columns: 1fr 1fr;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.img-wrapper {
  background-color: var(--light-blue);
  color: var(--white);
  width: 100%;
  flex: 1;
}
figcaption {
  text-align: center;
  background-color: var(--white);
  color: var(--black);
}
figure img {
  margin: .5rem auto 0;
  width: 65px;
}
#inv-display {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}
#inv-display li {
  border: 1px solid  var(--black);
  padding: 1rem;
  border-radius: 10px;
}
#inv-display h2 {
  margin: 0;
  padding: 0;
}
#inv-display img {
  width: 100%;
}
#inv-display a {
  text-decoration: none;
  color: var(--black);
}
footer {
  padding: 0 .5rem;
}
.detail-wrapper img {
  width: 100%;
}
.detail-wrapper label {
  font-weight: bold;
  font-size: 1.1rem;
}

.detail-wrapper p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  body {
    background-image: url("../images/site/checkerboard.jpg");
  }

  #wrapper {
    margin: 2rem auto;
    border: .5rem solid var(--blue);
    border-radius: 8px;
    padding: 1rem;
  }

  .jumbotron-content {
    top: 25%;
    left: 15%;
    /* font-size: 1.5rem; */
  }

  .jumbotron-title {
    /* font-size: 2rem; */
  }

  .main-grid {
    grid-template-columns: 1fr 1fr;
  }

  #inv-display {
    grid-template-columns: 1fr 1fr;
  }

  #inv-display li {
    display: flex;
    flex-direction: column;
  }
  #inv-display a {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .detail-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}